input[type='text'],[type='number'],[type='email']{ 
		width: 200px;
		}
fieldset{background-color:aqua; width:500px;}

legend{background-color:yellow;font-size:2em; color:red;}
label,span{font-size:2em;}
input{outline:1px solid yellow;}